@using atividade_iii.Models
@model Agendamento

<h2>Pré-Agendamento</h2>

<form asp-action="Mostrar" method="POST">
    <div>
        <label asp-for="nome">Nome:</label>
        <input asp-for="nome" placeholder="Nome" />
    </div>
    <div>
        <label asp-for="telefone">Telefone:</label>
        <input asp-for="telefone" />
    </div>
    <div>
        <label asp-for="data">Data:</label>
        <input asp-for="data">
    </div>
    <div>
        <label asp-for="animais">Selecione o animal:</label>
        <input asp-for="animais" type="radio" value="Gato" />Gato
        <input asp-for="animais" type="radio" value="Cachorro" />Cachorro
        <input asp-for="animais" type="radio" value="Rato" />Rato
        <input asp-for="animais" type="radio" value="Coelho" />Passaro   
    </div>
    <div>
        <label asp-for="necessidade">Necessidade:</label>
        <textarea asp-for="necessidade" cols="30" rows="10"></textarea>
    </div>
    <input type="submit" value="Enviar" />
</form>