@{
    ViewData["Title"] = "Home Page";
}

<h2>Bem Vindo ao site da Veterinária</h2>
<div id="espaco"></div>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique eaque adipisci odio illum accusamus velit earum
    iusto veritatis quo corrupti voluptate molestias deleniti beatae hic inventore nisi error, voluptatum delectus.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quas, facere minus minima similique ab, aperiam
    nostrum nam quidem commodi incidunt numquam non. Dolore, ut quasi perspiciatis adipisci aliquam commodi!</p>